.other-side{
    margin-left: 75%;
    position:absolute;
}

.corz-pos{
    margin-left: 93%;
    position: absolute;
}

 body{
     padding-top: 0;
 }

 .notebook-margin{
     margin-left: 12%;
 }

.but {
    border: 2px solid #aaa;
    background-color: white;
    color: black;
    padding: 2px 4px;
    font-size: 16px;
    cursor: pointer;
}

.plus {
    border-right: none;
}

.minus {
    border-left: none;
    padding: 2px 6px;
}

.count {
    border: 2px solid #aaa;
    background-color: white;
    color: black;
    padding: 2px 4px;
    border-right: none;
    border-left: none;
    width: 30px;
    text-align: center;
}

.reg-btn{
    margin-left: 90px;
}

.prod{
    margin-top: 30px;
    margin-left: 40px;
    border: 1px solid lightgrey;
}

.suC{
    display: none;
}

.addBtn{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.nameCheck{
    display:none;
    color: red;
}

.proizvCheck {
    display: none;
    color: red;
}

.descCheck {
    display: none;
    color: red;
}

.priceCheck {
    display: none;
    color: red;
}